body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: right;
    margin: 20px;
}

h1, h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input, button {
    margin: 5px;
    padding: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

button {
    cursor: pointer;
}

#variableTasks {
    margin-top: 20px;
}

.ins{
    text-decoration: underline;
}
.lead h2{
text-align: end;    
}